body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: auto;
    padding: 5%;
    display: flex;
    width: auto;
    min-width: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
  }
label {
  display: inline-block;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
input {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: transparent;
  width: 250px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
input:hover {
  border: 1px solid black;
}
button {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
button:hover {
  background-color: #0056b3;
  cursor: pointer;
}
button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
.container{
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-around;
  padding: 5%;
  width: auto;
  background-color: transparent;
  display: inline-block;
  margin: 20px;
}
.smallbox {
  width: 100px;
}
.inline {
  display: inline-block;
}
.centre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.mainbutton {
  font-size: medium;
  width: 150px;
}
.info {
  display: inline-block;
  text-align: center; 
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.info button {
  color: #007bff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  text-align: center;
  background-color: transparent;
}
.info button:hover {
  color: #0056b3;
  cursor: pointer;  
}
ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
li {
  margin: 10px;
}
input[type="checkbox"] {
  display: none;
}
label.checkbox {
  position: relative;
  padding: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}
label.checkbox:hover {
  border: 1px solid #4caf50;
}
input[type="checkbox"]:checked + label.checkbox {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}
input[type="checkbox"]:disabled + label.checkbox {
  background-color: grey;
  cursor: not-allowed;
}
label.checkbox:after {
  content: attr(data-number);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}