{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container">
    <h2>Reset Password</h2><br>
    <div>
        <form method="POST">
            <input type="password" id="password" name="userpass" placeholder="Enter Password" required><br>
            <input type="password" oninput="validatePassword()" id="confirmPassword" name="checkpass" placeholder="Confirm Password" required>
            <div class="centre"><div class="info" id="confirmation"></div></div>
            <div class="centre"><button class="mainbutton" id="change" name="change" disabled>Submit</button></div>
        </form>
    </div>
</div>
<script>
    function validatePassword() 
    {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var confirmation = document.getElementById("confirmation");
        var submitButton = document.getElementById("change");
        if (password !== confirmPassword) 
        {
            confirmation.innerText = "Passwords do not match";
            confirmation.style.color = 'red';
            submitButton.disabled = true;
        }
        else 
        {
            confirmation.innerText = "Passwords matching";
            confirmation.style.color = 'green';
            submitButton.disabled = false;
        }
    }
</script>
{% endblock %}