<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body style="padding: 0;">
    <div class="centre info" style="color: grey;">{{userid}}</div>
    <div class="centre info" style="margin: 5px;"><h2>Wallet Balance: <div id="userbalance" style="display: inline;"></div></h2></div>
    <div class="container" style="padding: 2%;width: 25%;min-width: 250px;margin: 0;">
        <h2>Your Lockers</h2>
        <form method="post">
            <ul>
                {% for locker in lockers %}
                <li>
                    <input type="checkbox" id="user_{{locker}}" name="user_lockers" value="{{locker}}" {% if private_disabled(locker) %}disabled{% endif %}>
                    <label class="checkbox {% if private_disabled(locker) %}disabled{% endif %}" for="user_{{locker}}" data-number="{{locker}}"></label>
                </li>
                {% endfor %}
            </ul>
            <div class="centre"><button type="submit" class="mainbutton" name="checkout" disabled>Check OUT</button></div>
        </form>
    </div>
    <div class="container" style="padding: 2%;width: 25%;min-width: 250px;">
        <h2>Available Lockers</h2>
        <form method="post">
            <ul>
                {% for locker in lockers %}
                <li>
                    <input type="checkbox" id="global_{{locker}}" name="global_lockers" value="{{locker}}" {% if public_disabled(locker) %}disabled{% endif %}>
                    <label class="checkbox {% if public_disabled(locker) %}disabled{% endif %}" for="global_{{locker}}" data-number="{{locker}}" style="margin-bottom: 0;"></label>
                </li>
                {% endfor %}
            </ul>
            <div class="centre"><div class="info" id="payable"></div></div>
            <div class="centre"><button type="submit" class="mainbutton" name="checkin" disabled>Check IN</button></div>
        </form>
    </div>
    <div class="centre"><form method="post"><button type="submit" class="mainbutton" name="logout">Logout</button></form></div>
</body>
{% if alert %}
<script>
    setTimeout(function() {
        alert('{{alert}}');
    }, 500);
</script>
{% endif %}
<script>
    function fetchbalance()
    {
        var ajax = new XMLHttpRequest();
        ajax.open('POST','/fetchbalance',true);

        ajax.onload = function()
        {
            var userbalance = document.getElementById('userbalance');
            var data = JSON.parse(ajax.responseText);
            data = data.balance;
            if (data <= 30 && data > 0)
            {
                userbalance.style.color = 'rgb(255, 100, 0)';
                userbalance.innerHTML = '₹'+data;
            }
            else if (data <= 0)
            {
                userbalance.style.color = 'red';
                userbalance.innerHTML = '₹'+data;
            }
            else
            {
                userbalance.innerHTML = '₹'+data;
            }
        }
        ajax.onerror = function()
        {
            var userbalance = document.getElementById('userbalance');
            userbalance.style.color = 'red'
            userbalance.innerHTML = 'error'
        }
        ajax.send();
    }
    fetchbalance();
    setInterval(fetchbalance,60000);
</script>
<script>
    function updateButtonState() {
        var user_checkbox = document.querySelectorAll('input[name="user_lockers"]');
        var global_checkbox = document.querySelectorAll('input[name="global_lockers"]');
        var checkinButton = document.querySelector('button[name="checkin"]');
        var checkoutButton = document.querySelector('button[name="checkout"]');
        var user_checkedCount = 0, global_checkedCount = 0;
        var payable_amount = document.getElementById('payable');

        global_checkbox.forEach(function(checkbox) {
            if (checkbox.checked) {
                global_checkedCount++;
            }
        });

        user_checkbox.forEach(function(checkbox) {
            if (checkbox.checked) {
                user_checkedCount++;
            }
        });

        if (user_checkedCount > 0) {
            checkoutButton.removeAttribute('disabled');
        } else {
            checkoutButton.setAttribute('disabled', 'disabled');
        }

        if (global_checkedCount > 0) {
            payable_amount.textContent = '₹'+global_checkedCount*{{payable}}+'/min'+' | '+'₹'+global_checkedCount*{{payable}}*60+'/hr';
            checkinButton.removeAttribute('disabled');
        } else {
            payable_amount.textContent = ''
            checkinButton.setAttribute('disabled', 'disabled');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        updateButtonState();

        var user_checkbox = document.querySelectorAll('input[name="user_lockers"]');
        user_checkbox.forEach(function(checkbox) {
            checkbox.addEventListener('change', updateButtonState);
        });

        var global_checkbox = document.querySelectorAll('input[name="global_lockers"]');
        global_checkbox.forEach(function(checkbox) {
            checkbox.addEventListener('change', updateButtonState);
        });
    });
</script>
</html>