{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
        <h2>Login</h2><br>
        <form method="POST">
            <div>
                <label for="userid">User ID</label>
                <div class="centre" style="margin: 0;"><input type="email" name="userid" id="userid" style="width: 100%;" placeholder="Gmail" value="{{userid}}" required/></div>
            </div><br>
            <div>
                <label for="userpass">Password</label>
                <div class="centre" style="margin: 0;"><input type="password" name="userpass" id="userpass" style="width: 100%;" required></div>
            </div><br>
            <div class="centre"><button class="mainbutton" type="submit" name="login">Submit</button></div>
        </form>
        <div class="centre"><div class="info"><a href="/reset" style="text-decoration: none;">Forgot/Reset Password</a><span>&nbsp; | &nbsp;</span><a href="/register" style="text-decoration: none;">Register</a><span>&nbsp; | &nbsp;</span><a href="/" style="text-decoration: none;">Home</a></div></div>
    </div>
{% endblock %}