{% extends 'base.html' %}

{% block title %}Wallet Recharge{% endblock %}

{% block content %}
    <div class="container" style="padding: 2%; width: 30%;">
        <h2>Recharge Wallet</h2><br>
        <div class="inline centre">
            <form method="POST" style="margin: 0;">
            <label for="userid">UserID:</label><br>
            <input type="email" name="userid" id="userid" placeholder="Gmail" value="{{userid}}" autocomplete="off" {{condition}} required><br><br>
            {% if display %}<div class="centre"><button class="mainbutton" type="submit" name="next" style="margin-bottom: 0;" {{condition}} >Next</button></div>{% endif %}
            </form>
        </div>
        {% if valid %}
            <div class="inline centre">
                <form method="POST" style="margin: 0;">
                <label for="amount">Amount:</label><br>
                <input type="number" step="any" name="amount" id="amount" placeholder="Enter Recharge Amount" autocomplete="off" min="1" required><br><br>
                <div class="centre"><button class="mainbutton" type="submit" name="pay" style="margin-bottom: 0;">Pay</button></div>
                </form>
            </div>
        {% endif %}
        <div class="centre">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="info" style="margin-top: 5%;">
                        {{message}}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <form action="/"><div class="centre"><button class="mainbutton" type="submit" name="home">Home</button></div></form><br>
{% endblock %}