<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfull Registration</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <form action="/">
            <h2 style="color: green;">Registration Successfull!</h2>
            <h2>Please recharge your account before Checking In</h2>
            <div class="centre"><button class="mainbutton">Ok</button></div>
        </form>
    </div>
</body>
</html>