{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="container" style="padding: 2%; width: 30%;">
        <h2>Validation</h2><br>
        <div class="inline centre">
            <form method="POST" style="margin: 0;">
            <label for="userid">UserID:</label><br>
            <input type="email" name="userid" id="userid" placeholder="Gmail" value="{{userid}}" required><br><br>
            <div class="centre"><button class="mainbutton" type="submit" name="next" style="margin-bottom: 0;">Next</button></div>
            <div class="centre">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="info" style="margin-top: 5%;">
                            {{message}}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
            </form>
        </div>
    </div>
    <form action="/"><div class="centre"><button class="mainbutton" type="submit" name="home">Home</button></div></form><br>
{% endblock %}